.c1 {
    background: rgb(27, 83, 27);
}
.c2 {
    background: rgb(31, 124, 31);
}
.c3 {
    background: rgb(18, 173, 18);
}
.c4 {
    background: rgb(0, 255, 0);
}

.box {
    width: 10px;
    height: 10px;
    margin: 1px;
    cursor: pointer;
    border-radius: 3px;
}
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
